<div class="swiper-container movieList latest">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/sport/psl.jpg')">
        <div class="movieTitle">
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/sport/epl.webp')">
        <div class="movieTitle">
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/sport/superrugby.jpg')">
        <div class="movieTitle">
        </div>  
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/sport/volleyball.jpg')">
        <div class="movieTitle">
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/sport/t20.jpg')">
        <div class="movieTitle">
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

  </div>

</div>