<div class="swiper-container movieList latest">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/iron.jpg')">
        <div class="movieTitle">
          <h3>The main men</h3>
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/drifters.jpg')">
        <div class="movieTitle">
          <h3>The main men</h3>
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/superman.jpg')">
        <div class="movieTitle">
          <h3>The main men</h3>
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/epl.webp')">
        <div class="movieTitle">
          <h3>The main men</h3>
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/iron.jpg')">
        <div class="movieTitle">
          <h3>The main men</h3>
        </div>
        <div class="movieDesc">
          <p></p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

  </div>

</div>