<div class="swiper-container movieList latest">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/latest/iron.jpg')">
        <div class="movieTitle">
          <h3>IRON MAN</h3>
        </div>
        <div class="movieDesc">
          <p>Action</p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/latest/drifters.jpg')">
        <div class="movieTitle">
          <h3>DRIFTERS</h3>
        </div>
        <div class="movieDesc">
          <p>Anime</p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/latest/superman.jpg')">
        <div class="movieTitle">
          <h3>SUPERMAN</h3>
        </div>
        <div class="movieDesc">
          <p>Action</p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/latest/gravity.jpeg')">
        <div class="movieTitle">
          <h3>Gravity</h3>
        </div>
        <div class="movieDesc">
          <p>Thriller</p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="movieCard" style="background-image: url('/images/latest/intestellar.jpg')">
        <div class="movieTitle">
          <h3>INTERSTELLAR</h3>
        </div>
        <div class="movieDesc">
          <p>Sci-fi</p>
        </div>
        <div class="movieOptions">
          <a href="#">Watch</a>
        </div>
      </div>
    </div>

  </div>

</div>